@using TLS.Common.Enums
@using TLS.Common.Enums.Extension
@using TLS.DataProvider.Entities;
@{
    Layout = "_AdminLayout";
}
@section Headers{
    <link href="~/assets/plugins/custom/cropper/cropper.bundle.css" rel="stylesheet" />
}
    <div class="container-fluid">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="card-title">Biên soạn blog</div>
            </div>
            <div class="card-body">
                <form id="page-form" autocomplete="off">
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <label class="form-label required">Tiêu đề</label>
                                <input type="text" class="form-control" placeholder="Nhập tên tiêu đề" name="Title" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label required">Tác giả bài viết</label>
                                <input type="text" class="form-control" placeholder="Nhập tên tiêu đề" name="Author" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Tags</label>
                                <input class="form-control" id="news_tag" name="Tag" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-5">
                                <label class="form-label">Meta Keyword</label>
                                <input class="form-control" type="text" name="MetaKeyWord" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Meta Title</label>
                                <input class="form-control" type="text" name="MetaTitle" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Meta Description</label>
                                <input class="form-control" type="text" name="MetaDescription" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-5">
                            <label class="form-label">Mô tả ngắn</label>
                            <textarea type="number" class="form-control" placeholder="Nhập mô tả ngăn" name="ShortDescription" style="min-height:150px"></textarea>
                        </div>

                        <div class="col-12 mb-5">
                            <label class="form-label">Mô tả</label>
                            <textarea placeholder="Nhập mô tả" class="form-control" id="app-text-editor" name="Content"></textarea>
                        </div>
                        <div class="col-6 mb-5">
                            <label class="form-label">Thumbnail Image</label><br />
                            <button class="btn btn-primary" id="open-crop-modal-btn">Chọn Thumbnail</button>

                        </div>
                        <div class="col-6 mb-5">
                            <div class="fill" style=" margin-top:10px">
                                <img src="" class="cropped_img_preview" style="display:none;height:200px" />
                            </div>
                        </div>
                        <div class="mt-10">
                            <div class="form-check form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="" id="isPublishCheckbox" checked="checked" name="IsPublish" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    Publish
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a type="button" class="btn btn-light" asp-action="Index">Hủy</a>
                <button type="submit" class="btn btn-primary" id="save_btn">Tạo mới</button>
            </div>
        </div>
    </div>


    <!--end::Modals-->
    <div class="modal" id="cropper-img-modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cắt ảnh</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <input id="uploadFileImageInput" type="file" />
                        <input class="form-control" id="image-title-input" type="text" placeholder="Tiêu đề ảnh" style="margin-top:10px" />
                    </div>
                    <div style="height:400px">
                        <img style="display:block;max-width: 100%" id="upload-img" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-bs-dismiss="modal" class="btn btn-outline-dark">Đóng</a>
                    <a href="#" class="btn btn-primary" id="save-crop-img-btn" disabled>Lưu</a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/js/share/utility.js"></script>
    <script src="~/assets/plugins/custom/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/custom/cropper/cropper.bundle.js"></script>
    <script src="~/js/share/common.js"></script>
    <script src="~/js/cms/create-news.js"></script>
}
