@section Headers{ 
    <link rel="stylesheet" href="~/css/introduce.css">
}
<div class="kc-container">
    <div class="introduce">
        <h2 class="kc-container_heading">Giới thiệu</h2>
        <div class="introduce-content">
            <p>
                <strong>Công ty TNHH xây dựng và thiết bị Gia Khánh ( GIA KHÁNH CONSTRUCTION AND EQUIPMENT COMPANY LIMITED) </strong>
                là đơn vị tiên phong đi đầu trong lĩnh vực : Tư vấn-Thiết kế-Thi công và cung cấp các thiết bị bể bơi. Với nhiều năm kinh nghiệm cùng đội ngũ kiến trúc sư và kỹ thuật dày dặn kinh nghiệm chúng tôi tự hào mang đến cho khách hàng những thiết kế ấn tượng,những công trình chất lượng,mang lại sự sang trọng ,hài hòa,đẳng cấp cho các công trình 
            </p>
            <br />
            <p>
                <strong>Công ty TNHH xây dựng và thiết bị Gia Khánh cung cấp các dịch vụ:  </strong>
                <ul class="ulgt">
                    <li>Tư vấn và thiết kế bể bơi,bể sục juzica </li>
                    <li>Thi công xây dựng bể bơi,bể sục </li>
                    <li>Cải tạo bể bơi </li>
                    <li>Cung cấp các thiết bị bể bơi chính hãng </li>
                    <li>Xử lý nước bể bơi </li>
                    <li>Lắp đặt và cung cấp các thiết bị xông hơi</li>
                </ul>
            </p>
            <p>
                <strong>SLOGAN của GIA KHÁNH : NÂNG TẦM GIÁ TRỊ CUỘC SỐNG </strong>
                <p>Đó là thông điệp và lời hứa của Gia Khánh muốn gửi đến Quý khách hàng : nâng tầm giá trị cuộc sống của khách hàng là nâng tầm giá trị và phát triển của công ty chúng tôi.và đó cũng là kim chỉ nam để công ty chúng tôi không ngừng nỗ lực và phấn đấu.</p>
            </p>
        </div>
        <div class="introduce-contact" style="display:flex">
            <h2 style="margin:0">
                <span style="color: #ff0000;">
                    <strong>CÔNG TY CP XÂY DỰNG & THIẾT BỊ GIA KHÁNH</strong>
                </span>
            </h2>
            <ul class="ulgt" style="margin-left:62px">
                <li>
                    <strong>Địa chỉ: Thôn Thượng,Xã Cự Khê,Thanh Oai,Tp Hà Nội.</strong>
                </li>
                <li>
                    <strong>Mã số thuế: 0109849433</strong>
                </li>
                <li>
                    <strong>Hotline: <span style="color: #ff0000">0353030983</span></strong>
                </li>
                <li>
                    <strong>Kỹ Thuật: <span style="color: #ff0000">0971888253</span></strong>
                </li>
                <li>
                    <strong>Bảo Hành: <span style="color: #ff0000">0971888253</span></strong>
                </li>
                <li>
                    <strong>Email: <span>giakhanhpoolspa@gmail.com</span></strong>
                </li>
            </ul>
        </div>
    </div>
</div>