@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer

@section Headers{
    <link href="~/css/about.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
    <partial name="_SetLanguagePartial" />
    <div class="about-page">
        <section class="header">
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <h1>
                        We <span class="primary-color">love creating</span>
                        core value for each advertising
                    </h1>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">WHO WE ARE?</div>
                    <div class="desc">
                        Our beginnings are people who do advertising design strategies,
                        media images in many fields. With our experience in advertising
                        strategy, we have helped startups, product launches, website -
                        landing page promoting products, customer events and print
                        publications. Not only do we create digital experiences, but we
                        also create physical experiences at the point of sale that help
                        the marketing - business transformation process numbers are
                        comprehensive. We provide simple services but focus on the core of
                        the problem, solve your problems, strategy suitable for the
                        industry, the best image quality for the campaign, respect the
                        deadline and optimal budget. We have faith that your core values
                        ​​will serve your stature in the years to come. Each advertising
                        campaign, whether short or long term, will be a story that tells
                        who you are, how valuable your brand is. And we love creating core
                        value for each advertising campaign, with the hope that each
                        customer we have, each product we strategize will be a good
                        project and have its own mark. We always try our best to best
                        results for the project.
                    </div>
                </div>
            </div>
        </section>

        <section>
            <img src="./EgoImages/about/banner.png" alt="" />
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">WHAT WE DO?</div>
                    <div class="desc">
                        Marketing is a vast field and there are many goals that need to be
                        accomplished to build a brand story, shape a brand in the minds of
                        customers, and drive sales. We understand this better than anyone.
                        And we offer the most focused services for marketing
                        implementation in small and medium enterprises.
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-4"></div>
                <div class="col-8">
                    <div class="box">
                        <div class="number">01</div>
                        <div class="name">Digital Strategy</div>
                        <div class="desc-box">
                            Each stage of your brand has its own marketing objective and ego
                            offers a master plan, a blueprint to help your brand achieve its
                            goals. We focus on spreading the value, the brand's own voice,
                            the vital value of the brand.
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">02</div>
                        <div class="name">Outsourced marketing</div>
                        <div class="desc-box">
                            To solve the short-term problems of businesses when implementing
                            marketing, our outsourced package provides individual services
                            that serve as an employee in a complete marketing machine. These
                            individuals work according to the campaign you have set out with
                            the best specialized quality.
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">03</div>
                        <div class="name">Multi-channel Marketing</div>
                        <div class="desc-box">
                            Each digital channel responds to a different set of customers,
                            consistent with a different content approach. And We will
                            optimize the reach channel, make the channel effective and
                            measure the focus.
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">04</div>
                        <div class="name">Media</div>
                        <div class="desc-box">
                            Media is an integral part of marketing, it conveys the brand's
                            idea to their audience in an impressive and visually vivid way.
                            Advertising campaigns are not only TVc, advertising photos,
                            printed publications such as brochures, catalogs. And we do
                            professional media with a creative and experienced team.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">WHAT WE LOOKING FOR?</div>
                    <div class="desc">
                        We are excited to work with creative open-minded people that have
                        great ideas and innovative new projects. We’re selective about the
                        people we work with because we know that building personal
                        relationships of trust is important.
                        <br />
                        <br />
                        We care about giving each project a personal and unique approach
                        by working in small-scale teams that best meet each client and
                        project’s needs. If you’re ready to work together, send us an
                        email!
                    </div>
                </div>
            </div>
        </section>
    </div>