@section Headers{
    <link href="~/css/evi-english.css" rel="stylesheet" />
    <title>Evi English - Ego</title>
}
    <div class="evi-page">
        <section class="header max-width">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12"></div>
                <div class="col-lg-7 col-md-12 col-12">
                    <h1>evi english</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12 padding-left">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">SERVICES</div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>Branding</p>
                                <p>Adversing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">DESCRIPTION</div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>
                                    Evi English is an English system for children from 4-12 years old. With the mission and vision of the brand, Evi needs a professional, sympathetic and creative image.
                                    That is also our challenge when designing branding for Evi.
                                    <br />
                                    <br />
                                    The logo uses handwriting to simulate the flight of a paper airplane. We wanted to carry a beautiful ambitious energy of the brand and relevant to the education industry.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner">
            <img src="./EgoImages/evi/b1.png" alt="" />
            <div class="text">
                There are 3 study programs, the names of the programs are inspired by
                the concept of the project: Moon, sun, galax. Corresponds to age. With
                the same font, we changed the outline to create the name of each
                corresponding course
            </div>
        </section>

        <section>
            <div class="max-width">
                <img src="./EgoImages/evi/b2.png" alt="" />
            </div>
        </section>

        <section>
            <div class="max-width">
                <img src="./EgoImages/evi/b3.png" alt="" />
            </div>
        </section>

        <section>
            <div class="max-width">
                <img src="./EgoImages/evi/b4.png" alt="" />
            </div>
        </section>

        <section>
            <div class="max-width">
                <div class="row">
                    <div class="col-4">
                        <img src="./EgoImages/evi/t1.png" alt="" />
                    </div>
                    <div class="col-4">
                        <img src="./EgoImages/evi/t2.png" alt="" />
                    </div>
                    <div class="col-4">
                        <img src="./EgoImages/evi/t3.png" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="max-width post-evi">
                <img src="./EgoImages/evi/post_1.png" alt="" />
            </div>
        </section>

        <section>
            <div class="max-width post-evi">
                <img src="./EgoImages/evi/post_2.png" alt="" />
            </div>
        </section>

        <section class="max-width">
            <div class="wrapper-down-page">
                <div class="text">
                    With the effort of advertising on the social network facebook about
                    the program as well as the opening event, Evi has achieved explosive
                    numbers on the opening day.
                </div>
                <div class="row">
                    <div class="col-5 d-flex flex-column justify-content-center">
                        <div class="box">
                            <div class="title">Check in</div>
                            <div class="number">135 <span class="hide-mobile">lượt</span></div>
                        </div>
                        <div class="box">
                            <div class="title">Đăng kí ngay</div>
                            <div class="number">30 <span class="hide-mobile">học viên</span></div>
                        </div>
                        <div class="box">
                            <div class="title">Đăng kí học thử nghiệm</div>
                            <div class="number">25 <span class="hide-mobile">học viên</span></div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row gap-5">
                            <div class="col-12">
                                <img src="./EgoImages/evi/f1.png" alt="" />
                            </div>
                            <div class="col-12">
                                <img src="./EgoImages/evi/f2.png" alt="" />
                            </div>
                            <div class="col-12">
                                <img src="./EgoImages/evi/f3.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="max-width">
            <partial name="_PageNavigation" />
        </div>
    </div>