@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution-5.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-5">
    <section class="section-banner">
        <div class="max-width h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-6 col-12">
                    <p class="font-64 mb-4">
                        Giải pháp sản xuất video ngắn chuyên sâu Etik Production
                    </p>
                    <p class="">
                        Easy Tik cung cấp dịch vụ Video Marketing phù hợp mọi nền tảng
                        Giúp khách hàng gia tăng lợi nhuận, thông qua sự kết hợp việc
                        thấu hiểu sản phẩm - dịch vụ, bài toán kinh doanh và kinh nghiệm
                        marketing thực chiến.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-video">
        <div class="max-width">
            <div class="video-wrapper">
                <iframe width="100%" src="https://www.youtube.com/embed/1WZRuTqSv2M?si=vrb3drfhQas5p7su" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <p class="font-64 fw-bolder">
                        Giải pháp này chắc chắn phù hợp với doanh nghiệp nếu:
                    </p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">01</p>
                        <p>
                            Doanh nghiệp đang tìm kiếm một đơn vị sản xuất video ngắn
                            chuyên nghiệp. Quy trình gọn gàng từ lên kịch bản - set up bối
                            cảnh - quay - dựng thành phẩm.
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">02</p>
                        <p>
                            Doanh nghiệp đang mong muốn giảm thiểu tối đa nhân lực tham
                            gia và thời gian sản xuất. Nhưng vẫn đảm bảo kết quả tốt nhất.
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">03</p>
                        <p>
                            Doanh nghiệp cần tư vấn concept nội dung phù hợp với ngành
                            nghề kinh doanh/ thương hiệu cá nhân. Lộ trình nội dung phù
                            hợp với giai đoạn phát triển thương hiệu & các mục tiêu trong
                            kinh doanh.
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">04</p>
                        <p>
                            Doanh nghiệp cần Hiểu biết về chính sách các nền tảng với dạng
                            nội dung video ngắn. Nắm bắt nhanh nhạy xu hướng - thị hiếu
                            video của khách hang.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="max-width py-5">
        <div class="section-etik">
            <div class="row mb-4">
                <div class="col-lg-7 col-12">
                    <p class="font-64 fw-bolder mb-5">
                        Etik giải quyết giúp doanh nghiệp 3 bài toán
                    </p>
                </div>
            </div>
            <div class="row gx-5 text-center">
                <div class="col-lg-4 col-12">
                    <p class="font-32">Tối ưu chi phí doanh nghiệp</p>
                    <p>
                        Với kinh nghiệm triển khai da dạng dự án, quy trình sản xuất
                        tinh gọn. Giúp doanh nghiệp tối ưu thời gian và nhân sự tham gia
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <p class="font-32">
                        Hiểu rõ về nền tảng Chiến lược nội dung với video ngắn
                    </p>
                    <p>
                        Nắm bắt thuật toán, thị hiếu và xu hướng video trên từng nền
                        tảng. Sản phẩm chất lượng cao và phù hợp với nền tảng
                    </p>
                    <p>
                        Tư vấn chiến lược nội dung kịch bản phù hợp với nhóm ngành nghề
                        & mục đích của thường hiệu trong từng giải đoạn
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <p class="font-32">Chất lượng nội dung & hình ảnh video</p>
                    <p>
                        Nắm bắt thuật toán, thị hiếu và xu hướng video trên từng nền
                        tảng. Sản phẩm chất lượng cao và phù hợp với nền tảng
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="max-width py-5">
        <div class="font-64 mb-5 text-center">
            GIÚP DOANH NGHIỆP TỐI ĐA HÓA LỢI NHUẬN THÔNG QUA VIDEO MARKETING
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 col-12">
                <p class="font-64 fw-bolder">Bằng 5 bước triển khai chi tiết</p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="d-flex align-items-center gap-4">
                    <p class="font-120 primary-color">01</p>
                    <p class="font-32">
                        Phân tích sản phẩm, dịch vụ, khách hang tiềm năng và thị hiếu
                        thông tin
                    </p>
                </div>
                <div class="d-flex align-items-center gap-4">
                    <p class="font-120 primary-color">02</p>
                    <p class="font-32">
                        Tư vấn & phân tích các điểm chạm cần thiết trong hành trình
                        khách hàng
                    </p>
                </div>
                <div class="d-flex align-items-center gap-4">
                    <p class="font-120 primary-color">03</p>
                    <p class="font-32">
                        Đưa ra chiến lược nội dung video phù hợp với từng điểm chạm, nhu
                        cầu thông tin của khách hang trên từng nền tảng mà khách hang
                        mục tiêu đạt chân đến
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white black-color section-project">
        <div class="max-width h-100">
            <div class="row py-5 h-100">
                <div class="col-lg-6 col-12 d-flex align-items-end">
                    <p class="font-64 fw-bolder hidden-mobile">Những dự án tâm huyết & Sáng tạo</p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">04</p>
                        <p class="font-32">
                            Tiến hành sản xuất tiền kỳ, hậu kỳ video tùy chính định dạng
                            trên các nền tảng khác nhau
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">05</p>
                        <p class="font-32">
                            Bàn giao đầy đủ video + source gốc để sử dụng về sau. Hỗ trợ
                            các tư vấn Marketing sau hợp đồng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-slider max-width">
        <div class="slider-single">
            <div class="logo">
                <img src="~/EgoImages/solution-5/logo-sonha.png" />
            </div>
            <div class="mb-5">
                Dự án : Chuỗi video giới thiệu sản phẩm bình thái dương
                năng...…………..
                <br />
                Nền tảng : Facebook Reels
            </div>
            <div class="gallery-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                      @*  <div class="swiper-slide">
                            <iframe id="player0" width="612" height="345" src="https://www.youtube.com/embed/V2cF4uE0mXs?enablejsapi=1&html5=1&rel=0" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>

                        <div class="swiper-slide">
                            <iframe id="player1" width="612" height="345" src="https://www.youtube.com/embed/xvJRCI9ERsQ?enablejsapi=1&html5=1&rel=0" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>*@

                        <div class="swiper-slide">
                            <iframe id="player0" width="100%" height="450" src="https://www.youtube.com/embed/3eJdCJTP-6U?si=LHctytbxKgOKhUY5" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe id="player1" width="100%" height="450" src="https://www.youtube.com/embed/YCDHGRXatWE?si=DyZ3uhzS9Qu0SDIG" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe id="player2" width="100%" height="450" src="https://www.youtube.com/embed/XcfeizGFRxk?si=qfpqCFTngHExXvvt" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>
                       <div class="swiper-slide">
                            <iframe id="player3" width="100%" height="450" src="https://www.youtube.com/embed/xQt1alesqxE?si=iyXYIvALjc28FSfi" frameborder="0" allowfullscreen iframe-video></iframe>
                        </div>
                        
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next -dark" video-buttons></div>
                <div class="swiper-button-prev -dark" video-buttons></div>
            </div>
        </div>
    </section>

    <section class="section-customer bg-white">
        <div class="max-width">
            <div class="black-color font-64 mb-5">Khách hàng của chúng tôi</div>
            <div class="text-center">
                <img class="w-100" src="~/EgoImages/home/customer.png" />
            </div>
        </div>
    </section>

    <section class="section-services max-width py-5">
        <div class="font-64 my-5">Bảng giá dịch vụ</div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-service bg-white black-color d-flex flex-column h-100">
                    <img src="~/EgoImages/solution/solution.png" />
                    <div class="py-4 px-3 flex-grow-1 d-flex flex-column">
                        <div class="flex-grow-1">
                            <div class="text-center">Sản xuất video đơn lẻ</div>
                            <div class="price fw-bolder py-3 text-center">Từ 1.990.000đ</div>
                            <div class="px-2">
                                <p class="mb-2">Miễn phí kịch bản chuẩn Marketing</p>
                                <p class="mb-2">Xuất các tỷ lệ phù hợp với nền tảng</p>
                                <p class="mb-2">Bàn giao source quay chất lượng cao</p>
                                <p class="mb-2">Chiết khấu theo số lượng video</p>
                            </div>
                        </div>
                        <button class="button text-center bg-white black-color">Nhận kịch bản miễn phí</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-service bg-white black-color d-flex flex-column h-100">
                    <img src="~/EgoImages/solution-5/price-1.jpg" />
                    <div class="py-4 px-3 flex-grow-1 d-flex flex-column">
                        <div class="flex-grow-1">
                            <div class="text-center">Xây kênh Tiktok/ Reels/ Short</div>
                            <div class="price fw-bolder py-3 text-center">Từ 35.890.000đ</div>
                            <div class="px-2">
                                <p class="mb-2">Tư vấn chuyên sâu về Video Marketing</p>
                                <p class="mb-2">Xây kênh chuẩn Meta nền tảng</p>
                                <p class="mb-2">Cam kết chỉ số & tăng trưởng</p>
                                <p class="mb-2">20 Video/tháng ( tối thiểu)</p>
                                <p class="mb-2">Chiết khấu theo số lượng video</p>
                            </div>
                        </div>
                        <button class="button text-center bg-white black-color">Nhận kịch bản miễn phí</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-service bg-white black-color d-flex flex-column h-100">
                    <img src="~/EgoImages/solution-5/price-2.jpg" />
                    <div class="py-4 px-3 flex-grow-1 d-flex flex-column">
                        <div class="flex-grow-1">
                            <div class="text-center">Gói Media doanh nghiệp</div>
                            <div class="price text-center fw-bolder py-3">Từ 14.890.000đ</div>
                            <div class="px-2">
                                <p class="mb-2">
                                    Thay thế toàn phòng media của doanh nghiệp
                                </p>
                                <p class="mb-2">
                                    Tư vấn chuyên sâu về Marketing doanh nghiệp
                                </p>
                                <p class="mb-2">
                                    Chi phí linh hoạt theo khối lượng công việc
                                </p>
                            </div>
                        </div>
                        <button class="button text-center bg-white black-color">Nhận kịch bản miễn phí</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form py-5 bg-white">
        <div class="max-width">
            <div class="row gy-3">
                <div class="col-lg-6 col-12 font-32 black-color">
                    Để nhận chiến lược nội dung video ngắn chia sẻ với chúng tôi thông
                    tin để có tư vấn phù hợp nhất với bạn tại đây =>
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="form-mobile">
                        <div class="form-wrapper">
                            <partial name="_ContactInputForm"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
  
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            gallerySliderSwiper();
        });

        function gallerySliderSwiper() {
            var gallerySliderSwiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                effect: "fade",
                fadeEffect: {
                    crossFade: true
                },
            })
        }

        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady(id) {
            let player = document.querySelectorAll('[iframe-video]');
            let buttons = document.querySelectorAll('[video-buttons]');

            player.forEach(item => {
                var itemElem = item.dataset.videoLink;
                itemElem = new YT.Player(item, {
                    videoId: 'V2cF4uE0mXs'
                });

                buttons.forEach(item => {
                    item.addEventListener('click', function (e) {
                        itemElem.pauseVideo();
                    });
                });
            })
        }

    </script>

}
