@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution-main.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-page bg-white black-color">
    <section class="section-talent max-width">
        <div class="row py-5">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-8 col-12">
                <p>NĂNG LỰC</p>
                <p class="heading">
                    Tối ưu <span class="primary-color">thời gian & chi phí</span> đạt
                    được mục tiêu kinh doanh của doanh nghiệp
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-6 col-12">
                <div class="row align-items-center my-4">
                    <div class="col-lg-7 col-6">
                        <p>01</p>
                        <p class="font-heading">
                            Giải pháp toàn diện cho doanh nghiệp khởi sự - Easy go
                        </p>
                    </div>
                    <div class="col-lg-2 col-1"></div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <a href="#">
                            <img src="./EgoImages/solution/arrow-circle.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-0"></div>
                </div>

                <div class="row align-items-center my-4">
                    <div class="col-lg-7 col-6">
                        <p>02</p>
                        <p class="font-heading">
                            Tối ưu các nền tảng truyền thông sở hữu
                        </p>
                    </div>
                    <div class="col-lg-2 col-1"></div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <a href="#">
                            <img src="./EgoImages/solution/arrow-circle.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-0"></div>
                </div>

                <div class="row align-items-center my-4">
                    <div class="col-lg-7 col-6">
                        <p>03</p>
                        <p class="font-heading">
                            Giải pháp sản xuất video ngắn chuyên sâu Etik Production
                        </p>
                    </div>
                    <div class="col-lg-2 col-1"></div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <a href="#">
                            <img src="./EgoImages/solution/arrow-circle.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-0"></div>
                </div>

                <div class="row align-items-center my-4">
                    <div class="col-lg-7 col-6">
                        <p>04</p>
                        <p class="font-heading">Phòng Marketing thuê ngoài</p>
                    </div>
                    <div class="col-lg-2 col-1"></div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <a href="#">
                            <img src="./EgoImages/solution/arrow-circle.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-0"></div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <img src="./EgoImages/solution/solution.png" alt="" />
            </div>
        </div>
    </section>

    <section class="section-form py-5 max-width">
        <div class="row">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12 font-heading">
                Chia sẻ với chúng tôi thông tin để xây dựng gói dịch vụ phù hợp nhất
                với doanh nghiệp của bạn tại đây =>
            </div>
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12">
                <div class="form-wrapper">
                    <form>
                        <div class="mb-3">
                            <label for="name">Họ và tên</label>
                            <input type="text" class="form-control" id="name" />
                        </div>
                        <div class="mb-3">
                            <label for="phone"> Số điện thoại liên hệ </label>
                            <input type="phone" class="form-control" id="phone" />
                        </div>
                        <div class="mb-3">
                            <label for="position">Chức vụ</label>
                            <input type="text" class="form-control" id="position" />
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" />
                        </div>
                        <div class="mb-3">
                            <label for="company">Công ty</label>
                            <input type="text" class="form-control" id="company" />
                        </div>
                        <div class="mb-3">
                            <label for="job"> Ngành nghề kinh doanh </label>
                            <input type="text" class="form-control" id="job" />
                        </div>
                        <div class="mb-3">
                            <label for="solution"> Giải pháp quan tâm </label>
                            <input type="text" class="form-control" id="solution" />
                        </div>
                        <div class="mt-4 text-center">
                            <input type="submit" class="button-primary" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section-search py-5 max-width">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12">
                <p class="title">Tìm hiểu về Ego agency</p>
            </div>
            <div class="col-lg-5 col-12"></div>
            <div class="col-lg-2 col-12">
                <a href="" class="py-4">
                    <img src="./EgoImages/about/arrow-blue.png" alt="" />
                </a>
            </div>
        </div>
    </section>
</div>
