@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-page max-width">
    <section class="">
        <div class="row g-4 g-lg-5">
            <div class="col-lg-6 col-md-12 col-12">
                <a href="#">
                    <div class="number">01</div>
                    <div>
                        Tư vấn chiến lược & thực thi chiến dịch Digital Marketing
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <a href="#">
                    <div class="number">02</div>
                    <div>Giải pháp sản xuất video ngắn chuyên sâu Production</div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <a href="#">
                    <div class="number">03</div>
                    <div>Tối ưu các nền tảng truyền thông sở hữu</div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <a href="#">
                    <div class="number">04</div>
                    <div>Giải pháp toàn diện cho doanh nghiệp khỏi sự...</div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <a href="#">
                    <div class="number">05</div>
                    <div>Phòng Marketing thuê ngoài</div>
                </a>
            </div>
        </div>
    </section>
</div>
