@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Models
@inject IViewLocalizer ViewLocalizer
@section Headers{
    <title>Simple Closet - Ego</title>
    <link href="~/css/simple-closet-2.css" rel="stylesheet" />
}
<div class="work-page max-width">
    <section class="header">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12"></div>
            <div class="col-lg-8 col-md-12 col-12">
                <h1 class="">Tictop.app</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="row padding-left">
                    <div class="col-lg-12 col-md-6 col-6">
                        <p>SERVICES</p>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>Branding</p>
                            <p>Campain</p>
                            <p>Photoshoot</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <p>DESCRIPTION</p>
                    </div>
                    <div class="col-lg-12 col-12">
                        <div class="desc font-32">
                            <p>
                                Thu hút 468.720 lượt người tiếp cận trên Facebook, tỷ lệ
                                chuyển đổi đăng ký sử dụng đạt 2,6%
                            </p>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <p class="font-32">1. Bối cảnh</p>
                    <p>
                        Tictop là một nền tảng Hợp nhất trong trao đổi và quản lý công
                        việc cho đội nhóm và doanh nghiệp do người Việt Nam phát triển.
                        Được ra mắt từ cuối năm 2021, Tictop đã có được hơn 5000 đội
                        nhóm & doanh nghiệp sử dụng sau 2 năm.
                    </p>
                    <p>
                        Sau khi hoàn thiện sản phẩm hoàn chỉnh, đội ngũ phát triển ứng
                        dụng mong muốn có một cú hích về sự lan tỏa của Tictop qua các
                        chiến dịch truyền thông với ngân sách tối ưu.
                    </p>
                </div>
                <div class="video-wrapper">
                    <iframe width="100%" src="https://www.youtube.com/embed/3eJdCJTP-6U?si=szSpPPaxEOeNG8nD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="my-5">
                    <p class="font-32">2. Triển khai</p>
                    <p>
                        Ra mắt tại thời điểm thị trường đã xuất hiện các ông lớn với
                        nguồn lực tài chính mạnh và các chiến dịch quảng bá rầm rộ
                        (1Office, Base..). Việc tạo một điểm nhấn trên thị trường khốc
                        liệt là một bài toán khó với đội ngũ EGO.
                    </p>
                    <p>
                        Đầu tiên, Chúng tôi đã tiến hành nghiên cứu thị trường, phân
                        tích đối thủ cạnh tranh, nhận thấy điểm nổi bật của Tictop khi
                        đặt cạnh các đối thủ (1Office, Base..) là tính tinh loạt và tích
                        hợp tất cả trong 1 nền tảng. Phù hợp với doanh nghiệp đội nhóm
                        vừa và nhỏ (từ 5 - 15 thành viên).
                    </p>
                    <p>
                        Tiếp theo, chúng tôi phân tích chân dung khách hàng tiềm năng.
                        Vì Tictop hướng đến khách hàng doanh nghiệp, nên Chúng tôi dựa
                        hành trình phát triển của một doanh nghiệp để phân tích đặc
                        điểm, khó khăn của doanh nghiệp trong từng giai đoạn.
                    </p>
                </div>
                <img src="~/EgoImages/closet/h1.png" />

                <div class="my-5">
                    <p>
                        Để tối đa hiệu suất marketing, chúng tôi đã phân loại người dùng
                        tiềm năng thành 3 nhóm với thông điệp tương ứng để tiếp cận:
                    </p>
                    <div class="mb-3">
                        <div>
                            Nhóm 1: Nhóm doanh nghiệp / đội nhóm đang RẤT CẦN một ứng dụng
                            quản lý công việc hợp nhất
                        </div>
                        <div>
                            Nhóm 2: Nhóm doanh nghiệp / đội nhóm đang C N NHẮC chuyển đổi
                            qua một ứng dụng quản lý công việc hợp nhất
                        </div>
                        <div>
                            Nhóm 3: Nhóm doanh nghiệp / đội nhóm ĐANG SỬ DỤNG một nền tảng
                            khác tuy nhiên nhận thấy những hạn chế của nền tảng hiện tại
                            đang sử dụng.
                        </div>
                    </div>
                    <p>
                        Chúng tôi lựa chọn Visual theo hướng hiện đại, năng động, với
                        tone màu chủ đạo là Vàng, Xanh và Trắng cho các chiến dịch tạo
                        độ phủ trên Digital để tạo cảm giác trẻ trung, tươi mới và dễ
                        ghi nhớ.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-10 col-12">
                <img src="~/EgoImages/closet/h2.png" />
            </div>
            <div class="col-lg-1 col-12"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-12">
                <img src="~/EgoImages/closet/h3.png" />
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/cs1.png" />
            </div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/cs2.png" />
            </div>
            <div class="col-lg-1 col-12"></div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/cs3.png" />
            </div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/cs4.png" />
            </div>
            <div class="col-lg-1 col-12"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/p1.png" />
            </div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/p2.png" />
            </div>
            <div class="col-lg-1 col-12"></div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/p3.png" />
            </div>
            <div class="col-lg-5 col-12">
                <img src="~/EgoImages/closet/p4.png" />
            </div>
            <div class="col-lg-1 col-12"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-4 col-12"></div>
            <div class="col-lg-8 col-12">
                <p class="font-32">3. Kết quả</p>
            </div>
        </div>
        <div class="role-fanpage">
            <div class="circle circle-blue">
                <div class="font-32">468.720</div>
                <div>lượt tiếp cận trên Facebook</div>
            </div>
            <div class="circle circle-blue">
                <div class="font-32">1.6%</div>
                <div>Tỷ lệ chuyên đổi đăng ký sử dụng</div>
            </div>
            <div class="circle circle-blue">
                <div class="font-32">7.499 user mới</div>
                <div>Tài khoản đăng ký mới Sau 2 tháng triển khai</div>
            </div>
        </div>
    </section>

    <div class="max-width">
        @await Html.PartialAsync("_PageNavigation",new NavigationModel(){
        PreviousPagePath = "/du-an/thiet-ke-nhan-dien-thuong-hieu-va-bao-bi-san-pham-nganh-my-pham",
        NextPagePath = "/du-an/thiet-ke-bo-nhan-dien-thuong-hieu-giao-duc-tieng-anh"
        })
    </div>
</div>