@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution-3.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-3">
    <section class="section-banner">
        <div class="max-width h-100">
            <div class="row h-100">
                <div class="col-lg-7 col-12">
                    <p class="font-64">
                        Giải pháp tối ưu các nền tảng truyền thông sở hữu - Owned Media
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-effective max-width">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div>Bạn muốn tăng hiệu quả của chiến dịch truyền thông đa nền tảng</div>
                <div> Bạn muốn thu hút và giữ chân khách hàng tiềm năng</div>
                <div>Bạn muốn xây dựng uy tín và thương hiệu cho doanh nghiệp</div>
            </div>
        </div>
    </section>

    <section class="section-suitable bg-white black-color py-5 relative">
        <div class="decor">
            <img class="fb absolute" src="~/EgoImages/solution-3/facebook.png" />
            <img class="insta absolute"
                 src="~/EgoImages/solution-3/instagram.png" />
            <img class="tiktok absolute"
                 src="~/EgoImages/solution-3/titkok.png" />
            <img class="be absolute" src="~/EgoImages/solution-3/be.png" />
            <img class="linkin absolute"
                 src="~/EgoImages/solution-3/linkin.png" />
        </div>
        <div class="max-width py-5">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <p class="font-64 fw-semibold">
                        Giải pháp này chắc chắn phù hợp với doanh nghiệp nếu:
                    </p>
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="">
                        <p class="mb-4">
                            Doanh nghiệp có mục tiêu xây dựng nhiều kênh truyền thông sở
                            hữu nhưng chưa biết nên tập trung vào phát triển kênh nào ?
                            Kênh nào tiềm năng tạo ra chuyên đổi doanh thu?
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp đang phụ thuộc vào thuật toán nền tảng. Không tạo
                            ra chuyển đổi dù chi phí đầu tư - chi phí duy trì cao
                        </p>
                        <p class="mb-4">
                            Các kênh sở hữu hiện tại thiếu đồng bộ - rời rạc - giảm hiệu
                            quả chuyên đổi tổng thể
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp không đo lường / đánh giá được hiệu quả giữa các
                            kênh. Không có dữ liệu doanh nghiệp
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp đang mơ hồ về chiến lược nội dung - thời điểm
                            chuyển đổi - tối ưu chi phí & lỏng lẻo quản lý tài sản số của
                            doanh nghiệp
                        </p>
                        <p>
                            Thiếu nhân lực định hướng nội dung, hình ảnh, sản xuất tư liệu
                            số chuyên nghiệp trên nền tảng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-handle max-width">
        <div class="row">
            <div class="col-lg-7 col-12">
                <p class="font-64 fw-bolder mb-5">
                    Giải pháp tối ưu các nền tảng truyền thông sở hữu - Owned Media
                    <br />
                    Giúp doanh nghiệp giải quyết 3 bài toán
                </p>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">01</div>
                    <p class="mb-4 fs-5">Nắm rõ chất lượng từng kênh sở hữu</p>
                    <p>
                        Có cơ sở đầu tư kênh sở hữu hiệu quả, cắt giảm chi phí cho các
                        kênh kém hiệu quả hoặc có phương án cải thiện các kênh nằm trong
                        mục tiêu nhưng kết quả chưa đạt.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-12"></div>

            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">02</div>
                    <p class="mb-4 fs-5">Chiến lược tối ưu</p>
                    <p>
                        Nội dung
                        <br />
                        Liên kết
                        <br />
                        Chỉ số
                        <br />
                        Chi phí
                        <br />
                        <br />
                        Tạo ra hiệu quả bền vững & Gia tăng tài sản số doanh nghiệp
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">03</div>
                    <p class="mb-4 fs-5">Quản lý hiệu quả</p>
                    <p>
                        Thực thi nội dung & hình ảnh phù hợp với thuật toán nền tảng
                    </p>
                </div>
            </div>
        </div>

        <div class="sologan">
            <img class="w-100 banner-desktop" src="~/EgoImages/solution-3/banner-social.png" />
            <img class="w-100 banner-mobile" src="~/EgoImages/solution-3/banner-social-2.png" />
        </div>

        <div class="py-5">
            <p class="font-64">Bằng 5 bước chi tiết</p>
            <div class="row">
                <div class="col-lg-7 col-12">
                    Các kênh sở hữu liên quan trực tiếp đến tài sản doanh nghiệp. Để
                    cả hai bên đạt được mục tiêu , chúng tôi sẽ tiến hành 5 bước trên
                    khi được sự đông ý truy cập dữ liệu của doanh nghiệp tại thời điểm
                    hiện tại.
                </div>
            </div>
            <div class="pt-5 diagram-desktop">
                <img class="w-100" src="~/EgoImages/solution-3/steps.png" />
            </div>
            <div class="pt-5 diagram-mobile">
                <img class="w-100" src="~/EgoImages/solution-3/diagram.png" />
            </div>
        </div>
    </section>

    <section class="section-project max-width">
        <p class="font-64 mb-5">Những dự án tâm huyết</p>
        <div class="row gy-5">
            <div class="col-lg-4 col-12">
                <a href="https://egocreative.co/simple-closet-2" target="_blank" class="card-project mb-4 white-color">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="~/EgoImages/work/tictop.jpg" />
                    </div>
                    <div class="">
                        Tictop.app Gia tăng người dùng nhờ triển khai Social Marketing
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://egocreative.co/du-an/tang-chuyen-doi-doanh-thu-nho-trien-khai-marketing-da-kenh-nganh-thoi-trang" target="_blank" class="card-project mb-4 white-color">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="~/EgoImages/work/simple.jpg" />
                    </div>
                    <div class="">Simple - Tối ưu chuyển đổi ngành thời trang nhờ triển khai Marketing đa kênh </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://egocreative.co/du-an/tang-chuyen-doi-doanh-thu-nho-trien-khai-remarketing-su-kien-nganh-vat-lieu-xay-dung" target="_blank" class="card-project mb-4 white-color">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="~/EgoImages/work/shn_event.jpg" />
                    </div>
                    <div class="">Sơn Hà Nội Tăng chuyển đổi doanh thu nhờ triển khai Remarketing hiệu quả </div>
                </a>
            </div>
        </div>
    </section>

    <section class="max-width about-customer">
        <p class="font-64 title">Khách hàng nói về chúng tôi</p>
        <div class="about-customer-talk">
            <div class="card-customer">
                <div class="mb-3">"Ego giúp chị đồng bộ các mạng xã hội của Simple Closet hiệu quả, chuyển đổi ra khách hàng và tối ưu chi phí quảng cáo. Là một chủ chuỗi cửa hàng thời trang nhỏ nhưng chị luôn được các bạn hỗ trợ rất nhiệt tình, không chỉ là các hoạt động bán hàng online, các bạn rất chủ động và hỗ trợ cả thúc đẩy bán hàng tại cửa hàng, đề xuất những chương trình tăng tương tác với khách hàng".</div>
                <div class="d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="~/EgoImages/solution-3/linh.png" />
                    </div>
                    <div class="info">
                        <div>Ms Khánh Linh </div>
                        <div>Founder Simple Closet </div>
                    </div>
                </div>
            </div>
            <div class="card-customer">
                <div class="mb-3">"Các chiến lược của Ego đưa ra rất rõ ràng đến mục tiêu. Các bước triển khai cụ thể. Quan trọng là các bạn rất nhiệt tình và nỗ lực mang lại chất lượng tốt nhất cho dự án"</div>
                <div class="d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="~/EgoImages/solution-3/tu.png" />
                    </div>
                    <div class="info">
                        <div>Mr Ngô Văn Tư </div>
                        <div>CEO Tictop VietNam</div>
                    </div>
                </div>
            </div>
            <div class="card-customer">
                <div class="mb-3">"Chú trọng vào hiệu quả, Ego không cố gắng khiến chúng tôi tiêu tiền vào các hoạt động không mang lại hiệu quả. Chuyên nghiệp, hiệu quả, năng động và sáng tạo là những gì tôi cảm nhận được từ đội ngũ này"</div>
                <div class="d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="~/EgoImages/solution-3/lien.png" />
                    </div>
                    <div class="info">
                        <div>Ms Kim Liên </div>
                        <div>Marketing Manager Sơn Hà Nội </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="we-want max-width py-5">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="font-64 mb-4">
                    Các bước hiện thực hóa mục tiêu kinh doanh của bạn
                </div>
            </div>
        </div>
        <div class="aproach d-flex pb-5">
            <div class="aproach-list d-flex">
                <div class="aproach-item">
                    <div class="title">Meeting</div>
                    <div class="desc">
                        Một cuộc họp khởi động là nền tảng để tất cả các bên thể hiện
                        thiện chí hợp tác và thiết lập tiến trình.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Sollution</div>
                    <div class="desc">
                        Sau các câu hỏi được đào sâu, chúng tôi có thể đã đưa ra được
                        giải pháp tổng quát cho vấn đề của doanh nghiệp bạn.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Brief</div>
                    <div class="desc">
                        Chúng tôi tóm lược toàn bộ thông tin dự án trong một tài liệu.
                        Đây là cơ sở dẫn lối cho cả hai bên trong suốt quá trình hợp tác
                        về sau.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title bg-primary" style="color: white">Contract</div>
                    <div class="desc">
                        Trước khi chính thức hợp tác, mọi thông tin về thanh toán, phạm
                        vi dự án, các gói dịch vụ, khung thời gian,... sẽ được thống
                        nhất minh bạch trong hợp đồng.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Actions</div>
                    <div class="desc">
                        Cùng đội nhóm, chúng tôi bắt tay vào đưa ra những ý tưởng không
                        giới hạn. Sau cùng, những ý tưởng phù hợp nhất với “đề bài” sẽ
                        được chọn để chuẩn bị cho bước tiếp theo.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form py-5 bg-white">
        <div class="max-width py-5">
            <div class="row gy-3">
                <div class="col-lg-6 col-12 font-32 black-color">
                    Bắt đầu bằng việc chia sẻ với chúng tôi
                    thông tin để có tư vấn phù hợp nhất với
                    bạn tại đây ->
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="form-mobile">
                        <div class="form-wrapper">
                            <partial name="_ContactInputForm"></partial>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>