<section class="footer max-width">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="h2">
                you feel
                <span class="primary-color"> interested </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="right-footer">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="title">Reach us</div>
                        <div>Facebook</div>
                        <div>Behance</div>
                    </div>
                    <div class="col-4">
                        <div class="title">Meet us</div>
                        <div>75 Tam Trinh</div>
                        <div>Hoang Mai, HN</div>
                    </div>
                    <div class="col-4">
                        <a href="/contact" class="link-redirect">
                            <img src="./EgoImages/arrow.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>