@{
    Layout = "~/Views/Shared/_PlanLayout.cshtml";
}
<div class="lg:bg-[url('/EgoImages/plan/banner.png')] bg-[url('/EgoImages/plan/banner-mobile.png')] bg-cover bg-center bg-center">
    <div class="max-w-[1360px] lg:mx-auto mx-5 pt-[80px] lg:pb-[250px] pb-[350px]">
        <div class="lg:text-[66px] text-4xl font-[700] leading-none lg:max-w-[480px] primary-color my-6 darker-grotesque-font">
            Tiến hành Khảo sát & phân tích dữ liệu
        </div>
        <div class="lg:flex grid grid-cols-2 gap-5">
            <div class="col-span-1">
                <img src="/EgoImages/plan/payment.png" />
            </div>
            <div class="inter-font max-w-md lg:font-[800] font-medium lg:text-md text-[14px] lg:mt-5 mt-3">
                <div>
                    Để bắt đầu khảo sát tình trạng marketing doanh nghiệp & phân
                    tích dữ liệu ngành hàng.
                </div>
                <div class="lg:mt-4 mt-0">
                    Chúng tôi cần bạn thanh toán phí ban đầu :
                </div>
                <div class="text-xl font-[900] primary-color">500.000 VNĐ</div>
                <br />
                <div>
                    Số tiền này sẽ được khấu trừ trực tiếp vào giá dịch vụ của bản
                    hoạch định sau khi nghiệm thu.
                </div>
                <div class="lg:block hidden">
                    <div class="text-xl font-[900] primary-color mt-5 mb-3">
                        Hoàn tất thanh toán
                    </div>
                    <div class="lg:text-left">
                        Vui lòng gửi ảnh cap màn hình thanh toán thành công đến Zalo
                        Ego Agency. Anh/chị sẽ nhận được xác nhận thanh toán từ Ego
                    </div>

                    <a href="https://zalo.me/2386571903158749416"
                       class="lg:w-auto w-full inline-flex rounded-3xl bg-indigo-600 px-6 py-2 mt-5 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-gradient-to-r from-[#031C72] to-[#3058E7]">GỬI THÔNG TIN</a>
                </div>
            </div>
        </div>
        <div class="block lg:hidden col-span-1">
            <div class="text-xl font-[900] primary-color mt-5 mb-3 text-center">
                Hoàn tất thanh toán
            </div>
            <div class="text-center">
                Vui lòng gửi ảnh cap màn hình thanh toán thành công đến Zalo Ego
                Agency. Anh/chị sẽ nhận được xác nhận thanh toán từ Ego
            </div>

            <a href="https://zalo.me/2386571903158749416"
               class="w-full justify-center inline-flex rounded-3xl bg-indigo-600 px-6 py-2 mt-5 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-gradient-to-r from-[#031C72] to-[#3058E7]">GỬI THÔNG TIN</a>
        </div>
    </div>
</div>