@section Headers{
    <title>Simple Closet - Ego</title>
    <link href="~/css/simple-closet.css" rel="stylesheet" />
}
<div class="simple-page">
    <section class="header max-width">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12"></div>
            <div class="col-lg-7 col-md-12 col-12">
                <h1>Simple closet</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">SERVICES</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>Branding</p>
                            <p>Campain</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">DESCRIPTION</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>
                                Hanoi paint is a long-standing brand, with 60 years of
                                experience in this field. However, the image of the brand
                                gradually became outdated and did not reach the majority of
                                consumers. That is our challenge in this project, we need to
                                breathe new life into the brand from the image to the
                                approach to the content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <img src="./EgoImages/closet/b1.png" alt="" />
        <div class="text">
            There are 3 study programs, the names of the programs are inspired by
            the concept of the project: Moon, sun, galax. Corresponds to age. With
            the same font, we changed the outline to create the name of each
            corresponding course
        </div>
    </section>

    <section>
        <div class="max-width">
            <div class="d-flex section-two">
                <div>
                    <img src="./EgoImages/closet/a1.png" alt="" />
                </div>
                <div>
                    <div class="row">
                        <div class="col-12">
                            <img src="./EgoImages/closet/a2.png" alt="" />
                        </div>
                        <div class="col-12">
                            <img src="./EgoImages/closet/a3.png" alt="" />
                        </div>
                        <div class="col-12">
                            <img src="./EgoImages/closet/a4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="text-banner-2">
            To improve customer experience, simple has innovated from bags, boxes,
            thank you cards, product packaging to increase the synchronization and
            bring the professionalism of Simple to customers.
        </div>
        <img src="./EgoImages/closet/b2.png" alt="" />
    </section>

    <section>
        <div class="max-width section-three">
            <div class="text">
                In addition to accessing the facebook platform and e-commerce
                platform, we also help Simple reach customers on the Tiktok
                platform.
            </div>

            <div class="row list-img">
                <div class="col-lg-7 col-md-12 col-12">
                    <img src="./EgoImages/closet/c1.png" alt="" />
                </div>
                <div class="col-lg-5 col-md-12 col-12 d-flex flex-column align-items-end gap-5">
                    <div>
                        <img src="./EgoImages/closet/c2.png" alt="" />
                    </div>
                    <div>
                        <img src="./EgoImages/closet/c3.png" alt="" />
                    </div>
                    <div>
                        <img src="./EgoImages/closet/c4.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="max-width section-four">
            <div class="text">
                And this change paid off for Simple. After 3 months of innovation,
                we have received very good feedback.
            </div>
            <div class="d-flex">
                <div class="item">
                    <img src="./EgoImages/closet/f1.png" alt="" />
                </div>
                <div class="item">
                    <img src="./EgoImages/closet/f2.png" alt="" />
                </div>
                <div class="item">
                    <img src="./EgoImages/closet/f3.png" alt="" />
                </div>
            </div>
        </div>
    </section>
</div>