@section Headers{
    <title>Simple Closet - Ego</title>
    <link href="~/css/simple-closet.css" rel="stylesheet" />
}
<div class="simple-page">
        <section class="header max-width">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12"></div>
                <div class="col-lg-7 col-md-12 col-12">
                    <h1>Simple closet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12 padding-left">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">SERVICES</div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>Branding</p>
                                <p>Campain</p>
                                <p>Photoshoot</p>
                                <p>Packaging</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">DESCRIPTION</div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>
                                    Simple is a designer women's office fashion brand. Having
                                    been on the market since 2019, in 2022 Simple wants to make
                                    a more spectacular breakthrough in image coverage,
                                    innovation in both quality and story.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner">
            <img src="./EgoImages/closet/b1.png" alt="" />
            <div class="text">
                Changing the image and wanting to have a clearer voice when telling
                the brand story, Simply syncing direct packaging and post images on
                platforms from facebook to e-commerce platforms
            </div>
        </section>

    <section>
        <div class="max-width">
            <div class="d-flex section-two">
                <div>
                    <img src="./EgoImages/closet/a1.png" alt="" />
                </div>
                <div>
                    <div class="row">
                        <div class="col-12">
                            <img src="./EgoImages/closet/a2.png" alt="" />
                        </div>
                        <div class="col-12">
                            <img src="./EgoImages/closet/a3.png" alt="" />
                        </div>
                        <div class="col-12">
                            <img src="./EgoImages/closet/a4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="text-banner-2">
            To improve customer experience, simple has innovated from bags, boxes,
            thank you cards, product packaging to increase the synchronization and
            bring the professionalism of Simple to customers.
        </div>
        <img src="./EgoImages/closet/b2.png" alt="" />
    </section>

    <section>
        <div class="max-width section-three">
            <div class="text">
                In addition to accessing the facebook platform and e-commerce
                platform, we also help Simple reach customers on the Tiktok
                platform.
            </div>

            <div class="row list-img">
                <div class="col-lg-7 col-md-12 col-12">
                    <img src="./EgoImages/closet/c1.png" alt="" />
                </div>
                <div class="col-lg-5 col-md-12 col-12 d-flex flex-column align-items-end gap-5">
                    <div>
                        <img src="./EgoImages/closet/c2.png" alt="" />
                    </div>
                    <div>
                        <img src="./EgoImages/closet/c3.png" alt="" />
                    </div>
                    <div>
                        <img src="./EgoImages/closet/c4.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="max-width section-four">
            <div class="text">
                And this change paid off for Simple. After 3 months of innovation,
                we have received very good feedback.
            </div>
            <div class="d-flex">
                <div class="item">
                    <img src="./EgoImages/closet/f1.png" alt="" />
                </div>
                <div class="item">
                    <img src="./EgoImages/closet/f2.png" alt="" />
                </div>
                <div class="item">
                    <img src="./EgoImages/closet/f3.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <div class="max-width">
        <partial name="_PageNavigation" />
    </div>
</div>