
/* common */
img {
    width: 100%;
    display: block;
}

section {
    margin: 5rem 0;
}

.header {
    font-size: 18px;
}

    .header h1 {
        font-size: 98px;
    }

    .header .title {
        margin-bottom: 2rem;
    }
/* common */

.banner .text {
    font-size: 18px;
    max-width: 70%;
    margin: 1rem 4rem 0 auto;
}

.post-evi {
    padding: 0 200px;
}

.wrapper-down-page .row {
    padding: 0 100px;
}

.wrapper-down-page .text {
    font-size: 18px;
    max-width: 70%;
    margin: 0 0 20px auto;
}

.wrapper-down-page .box {
    font-size: 26px;
    margin-bottom: 4rem;
}

.wrapper-down-page .number {
    font-size: 64px;
}

@media screen and (max-width: 768px) {
    /* common */
    section {
        margin: 3rem 0;
    }

    .header {
        font-size: 12px;
    }

        .header h1 {
            font-size: 30px;
            margin: 0 0 3rem 0;
        }

        .header .title {
            font-size: 18px;
        }
    /* common */
    .banner .text {
        font-size: 12px;
        margin: 1rem 3rem 0;
        max-width: 100%;
    }

    .post-evi {
        padding: 0 80px;
    }

    .wrapper-down-page .text {
        font-size: 12px;
        max-width: 100%;
    }

    .wrapper-down-page .row {
        padding: 0;
    }

    .wrapper-down-page .box {
        font-size: 12px;
        margin-bottom: 2rem;
    }

    .wrapper-down-page .number {
        font-size: 48px;
    }

    .hide-mobile {
        display: none !important;
    }
}

