/* common */
img {
    width: 100%;
    display: block;
}

section {
    margin: 4rem 0;
}

.header {
    font-size: 18px;
}

    .header h1 {
        font-size: 98px;
    }

    .header .title {
        margin-bottom: 2rem;
    }

.left-side {
    margin: 10% 2rem 10rem 6rem;
}

.right-side {
    margin: 60% 6rem 10% 2rem;
}

.landing-img {
    margin: 0 14rem;
}

@media screen and (max-width: 768px) {
    /* common */
    section {
        margin: 2rem 0;
    }

    .header {
        font-size: 12px;
    }

        .header h1 {
            font-size: 30px;
            margin: 0 0 3rem 0;
        }

        .header .title {
            font-size: 18px;
        }

    .right-side {
        margin: 50% 2rem 7% 0.5rem;
    }

    .left-side {
        margin: 7% 0.5rem 5rem 2rem;
    }

    .landing-img {
        margin: 0 4rem;
    }
}
