:root {
    --primary-color: #2a32e3;
    --white-color: #f1f1f1;
    --black-color: #000;
    --transition: 0.3s all linear;
    --background-color: #0a0726;
    --font-family: "Epilogue";
}

* {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: var(--font-family);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.max-width {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
}

.primary-color {
    color: var(--primary-color);
}

/* menu */
.menu {
    top: 15%;
    left: 0;
}

    .menu ul {
        padding: 0;
    }

        .menu ul li {
            margin-bottom: 1rem;
            list-style: none;
        }

            .menu ul li a {
                font-size: 20px;
                color: var(--white-color);
            }

    .menu a {
        text-decoration: none;
    }

.switch-btn button {
    padding: 6px 20px;
    border-radius: 20px;
}


/* footer */
.footer {
    padding: 4rem 0;
    font-size: 22px;
    overflow-x: hidden;
}

    .footer .h2 {
        font-size: 98px;
    }

    .footer .title {
        font-size: 42px;
    }

.link-redirect {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: var(--primary-color);
}

    .link-redirect img {
        display: block;
        transform: rotate(270deg);
    }

@media screen and (max-width: 1160px) {
    /* footer */
    .footer .h2 {
        font-size: 26px;
    }

    .footer {
        padding: 2rem 20px;
        font-size: 12px;
    }

        .footer .h2 {
            font-size: 24px;
        }

        .footer .title {
            font-size: 18px;
        }

    .link-redirect {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .max-width {
        padding: 0 20px;
    }

    .logo-ego img {
        width: 80px;
    }


}
