img {
    width: 100%;
    display: block;
}

section {
    margin: 4rem 0;
}

.header {
    font-size: 18px;
}

    .header h1 {
        font-size: 98px;
    }

    .header .title {
        margin-bottom: 2rem;
    }
/* common */

.role-fanpage {
    gap: 10px;
    display: flex;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-between;
}

    .role-fanpage .circle {
        width: 280px;
        height: 280px;
        padding: 30px;
        display: grid;
        border-radius: 50%;
        place-content: center;
        border: 3px solid #707070;
        text-align: center;
    }

    .role-fanpage .circle-blue {
        color: var(--white-color);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }

    .role-fanpage .arrow {
        max-width: 170px;
        width: 100%;
    }

.circle-transparent {
    width: 280px;
    position: relative;
    top: -35px;
}

.banner .text,
.text-banner-2 {
    font-size: 18px;
    max-width: 70%;
    margin: 2rem 4rem 2rem auto;
}

.section-two {
    gap: 50px;
}

    .section-two > div {
        flex: 1;
    }

    .section-two div:first-child img {
        height: 100%;
    }

    .section-two div:last-child {
        gap: 50px;
    }

.section-three .text,
.section-four .text {
    font-size: 18px;
    max-width: 70%;
    margin: 2rem 4rem 2rem auto;
}

.section-three .list-img .col-7 img {
    height: 100%;
}

.section-three .list-img .col-5 img {
    width: auto;
}

.section-three .list-img .col-5 div:nth-child(2) {
    margin-right: 8rem;
}

.section-four > div:last-child .item:nth-child(2) {
    margin: 5rem 2rem 0;
}

@media screen and (max-width: 768px) {
    /* common */
    section {
        margin: 3rem 0;
    }

    .header {
        font-size: 16px;
    }

        .header h1 {
            font-size: 30px;
            margin: 0 0 3rem 0;
        }

        .header .title {
            font-size: 18px;
        }

    .hidden-mobile {
        display: none;
    }

    /* common */
    .role-fanpage {
        gap: 1rem;
        margin: 2rem auto;
        flex-direction: column;
    }

        .role-fanpage .circle {
            width: 230px;
            height: 230px;
        }

        .role-fanpage .arrow {
            height: 100px;
            width: 100px;
        }

            .role-fanpage .arrow img {
                transform: rotate(90deg);
                position: relative;
                top: 42px;
            }

    .banner .text,
    .text-banner-2 {
        font-size: 12px;
        margin: 1rem 2rem 0;
        max-width: 100%;
    }

    .section-two {
        padding: 0 2rem;
        flex-direction: column;
    }

        .section-two > div:last-child {
            padding: 0 2.5rem;
            gap: 20px;
        }

        .section-two div:last-child {
            gap: 30px;
        }

    .section-three .text,
    .section-four .text {
        font-size: 12px;
        margin: 1rem 0;
        max-width: 100%;
    }

    .section-three .list-img {
        gap: 30px;
    }

    .list-img > div:last-child {
        gap: 2rem !important;
        flex-direction: row !important;
    }

        .list-img > div:last-child div,
        .list-img > div:last-child div img {
            height: 100%;
        }
}
