
/* override */
html,
body {
    background-color: white !important;
}

.switch-btn button {
    color: white
}

.menu ul li a {
    font-size: 20px;
    color: var(--black-color);
}

.max-width {
    padding: 0 150px;
}


.menu {
    top: 320px;
    padding: 0 25px;
}

img {
    width: 100%;
}

.font-heading {
    font-size: 32px;
}

.section-talent .heading {
    font-size: 64px;
}

.section-search .title {
    font-size: 64px;
}

.form-wrapper {
    background-color: var(--black-color);
}

.form-wrapper {
    color: white;
    padding: 20px;
    background-color: var(--black-color);
}

    @media screen and (max-width: 768px) {
    }
