/* common */
img {
    width: 100%;
    display: block;
}

section {
    margin: 5rem 0;
}

.header {
    font-size: 18px;
}

    .header h1 {
        font-size: 64px;
    }

    .header .row > div:last-child {
        padding-left: 2rem;
    }

.hide-mobile img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}
/* main */
.text-right,
.text-left {
    gap: 100px;
    font-size: 18px;
    margin-bottom: 6rem;
}

.text {
    margin-top: 2rem;
    font-size: 18px;
}

.name {
    font-size: 42px;
}

.scroll {
    position: absolute;
    display: grid;
    place-items: center;
    top: 3%;
    right: 3%;
    width: 115px;
}

.scroll .circle {
    width: 100%;
}

.scroll .arrow {
    width: 7%;
    animation: scrollArrow 1.3s linear infinite;
}


@keyframes scrollArrow {
    20% {
        transform: translateY(0%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(10%);
    }

    80% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .scroll {
        top: 3%;
        right: 5%;
        width: 60px;
    }

    /* common */
    section {
        margin: 3rem 0;
    }

    .header {
        font-size: 12px;
    }

        .header h1 {
            font-size: 26px;
        }

        .header .row > div:last-child {
            padding: 0 10px;
        }

    /* common */
    .hide-mobile {
        display: none;
    }

    .text-right {
        flex-direction: column;
    }

    .text-left {
        flex-direction: column-reverse;
    }

    .text-right,
    .text-left {
        gap: 30px;
        margin-bottom: 3.5rem;
    }

    .text {
        font-size: 12px;
        margin-top: 0;
    }

    .number {
        font-size: 8px;
    }

    .name {
        font-size: 20px;
    }
}
