@section Headers{
    <title>Mejarl Cosmetic - Ego</title>
    <link href="~/css/mejarl-cosmetic.css" rel="stylesheet" />
}
<div class="cosmetic-page max-width">
    <section class="header">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12"></div>
            <div class="col-lg-7 col-md-12 col-12">
                <h1>Mejarl cosmetic</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">SERVICES</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>Branding</p>
                            <p>Campain</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">DESCRIPTION</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>
                                Mejarl is a cosmetic company, Mejarl wants to have a package
                                that shows both the flightiness but also the reality of the
                                information on the product packaging. More than a set of
                                packaging, they want the company's first product packaging
                                to express the voice and personality of the brand. Direct
                                and indirect packaging products must also have the same
                                voice and expression.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner">
        <img src="./EgoImages/cosmetic/banner.png" alt="" />
        <img src="./EgoImages/cosmetic/banner_2.png" alt="" />

        <div class="text">
            Not only stop at packaging design, we also come up with ideas for
            advertising content and images for products on facebook platform,
            e-commerce platform (content has been translated in Vietnamese).
        </div>
    </section>

    <section class="four-product">
        <div class="row">
            <div class="col-6">
                <img src="./EgoImages/cosmetic/f1.png" alt="" />
            </div>
            <div class="col-6">
                <img src="./EgoImages/cosmetic/f4.png" alt="" />
            </div>
            <div class="col-6">
                <img src="./EgoImages/cosmetic/f2.png" alt="" />
            </div>
            <div class="col-6">
                <img src="./EgoImages/cosmetic/f3.png" alt="" />
            </div>
        </div>
    </section>

    <section>
        <img src="./EgoImages/cosmetic/b1.png" alt="" />
    </section>

    <section class="three-product">
        <div class="row">
            <div class="col-4">
                <img src="./EgoImages/cosmetic/three1.png" alt="" />
            </div>
            <div class="col-4">
                <img src="./EgoImages/cosmetic/three2.png" alt="" />
            </div>
            <div class="col-4">
                <img src="./EgoImages/cosmetic/three3.png" alt="" />
            </div>
        </div>
    </section>

    <section>
        <img src="./EgoImages/cosmetic/b2.png" alt="" />
    </section>

    <section>
        <img src="./EgoImages/cosmetic/b3.png" alt="" />
    </section>

    <section>
        <img src="./EgoImages/cosmetic/b4.png" alt="" />
    </section>
</div>