@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Models
@inject IViewLocalizer ViewLocalizer

@section Headers{
    <title>Mejarl Cosmetic - Ego</title>
    <link href="~/css/mejarl-cosmetic.css" rel="stylesheet" />
}
<div class="cosmetic-page max-width">
    <section class="header">
        <div class="row"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
            <div class="col-lg-5 col-md-12 col-12"></div>
            <div class="col-lg-7 col-md-12 col-12">
                <h1>Mejarl cosmetic</h1>
            </div>
        </div>
        <div class="row"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
            <div class="col-lg-5 col-md-12 col-12 padding-left">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">SERVICES</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>Branding</p>
                            <p>Campain</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="title">DESCRIPTION</div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-6">
                        <div class="desc">
                            <p>
                                @ViewLocalizer["mej1"]


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner">
        <img src="~/EgoImages/cosmetic/banner.png" alt=""
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear" />
        <img src="~/EgoImages/cosmetic/banner_2.png" alt=""
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear" />

        <div class="text"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
            @ViewLocalizer["mej2"]


        </div>
    </section>

    <section class="four-product">
        <div class="row"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
            <div class="col-6">
                <img src="~/EgoImages/cosmetic/f1.png" alt="" />
            </div>
            <div class="col-6">
                <img src="~/EgoImages/cosmetic/f4.png" alt="" />
            </div>
            <div class="col-6">
                <img src="~/EgoImages/cosmetic/f2.png" alt="" />
            </div>
            <div class="col-6">
                <img src="~/EgoImages/cosmetic/f3.png" alt="" />
            </div>
        </div>
    </section>

    <section>
        <img src="~/EgoImages/cosmetic/b1.png" alt=""
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear" />
    </section>

    <section class="three-product"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
        <div class="row">
            <div class="col-4">
                <img src="~/EgoImages/cosmetic/three1.png" alt="" />
            </div>
            <div class="col-4">
                <img src="~/EgoImages/cosmetic/three2.png" alt="" />
            </div>
            <div class="col-4">
                <img src="~/EgoImages/cosmetic/three3.png" alt="" />
            </div>
        </div>
    </section>

    <section data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
        <img src="~/EgoImages/cosmetic/b2.png" alt="" />
    </section>

    <section data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
        <img src="~/EgoImages/cosmetic/b3.png" alt="" />
    </section>

    <section data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear">
        <img src="~/EgoImages/cosmetic/b4.png" alt="" />
    </section>

    <div class="max-width">
        @await Html.PartialAsync("_PageNavigation",new NavigationModel(){
        PreviousPagePath = "/du-an/social-marketing-nganh-my-pham",
        NextPagePath = "/du-an/tictop"
        })
    </div>
</div>