@using TLS.Web.Models
@model NavigationModel
@if (Model != null)
{
    <section class="section-pagination">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="next-project d-flex align-items-center gap-4">
                    <div>Next project</div>
                    <a href="@Model.NextPagePath">
                        <img src="./EgoImages/arrow-right.png" alt="" />
                    </a>
                </div>
            </div>
        </div>

        <div class="prev-project d-flex align-items-center gap-4">
            <a href="@Model.PreviousPagePath">
                <img src="./EgoImages/arrow-right.png" alt="" />
            </a>
            <div>Prev project</div>
        </div>
    </section>
}