@section Headers{
    <link href="~/css/work.css" rel="stylesheet" />
}
    <div class="work-page max-width">
        <section class="header">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <h1>
                        Design that has
                        <br />
                        <span class="primary-color">the power to transform</span>
                        <br />
                        businesses
                    </h1>
                    <div class="desc-title">
                        We present a number of projects that represent the areas we have
                        worked in.
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="text-left d-flex">
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">01</div>
                        <div class="name">Esa English</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a1.png" alt="" />
                    </div>
                </div>
                <div>
                    <img src="./EgoImages/work/a2.png" alt="" />
                </div>
            </div>
            <div class="text-right d-flex">
                <div>
                    <img src="./EgoImages/work/a3.png" alt="" />
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">02</div>
                        <div class="name">Evi English</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex">
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">03</div>
                        <div class="name">Simple Closet</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/b1.png" alt="" />
                    </div>
                </div>
                <div>
                    <img src="./EgoImages/work/b2.png" alt="" />
                </div>
            </div>
            <div class="text-right d-flex">
                <div>
                    <img src="./EgoImages/work/b3.png" alt="" />
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">04</div>
                        <div class="name">HaNoi Paint event</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/b4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex">
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">05</div>
                        <div class="name">HaNoi paint social</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a1.png" alt="" />
                    </div>
                </div>
                <div>
                    <img src="./EgoImages/work/a2.png" alt="" />
                </div>
            </div>
            <div class="text-right d-flex">
                <div>
                    <img src="./EgoImages/work/c1.png" alt="" />
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">06</div>
                        <div class="name">Fara spa</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex">
                <div class="d-flex flex-column justify-content-between">
                    <div class="text">
                        <div class="number">07</div>
                        <div class="name">Mejarl cosmetic</div>
                        <div class="desc">
                            Create a fresh, modern brand image in the education market in
                            Vietnam
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/d1.png" alt="" />
                    </div>
                </div>
                <div>
                    <img src="./EgoImages/work/d2.png" alt="" />
                </div>
            </div>
        </section>
    </div>